<!DOCTYPE html>
<html>
	<head>
    <title>Todo List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
        <script>
           var menu = <%- JSON.stringify(menu)%>;
        </script>
        <script src="/assets/js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
 
<body>
<div class="container"
     ng-app="Menu"
     ng-controller="MenuCtrl as mc">
   
    <header>
        <h1>Menu</h1>
    </header>
 
    
     <!-- Appetisers -->
    <div class="row" ng-repeat="cat in mc.menu | filter: {cat: A}">
      <div class="col-xs-24 col-sm-12">
          {{cat.name}}
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6" ng-repeat="sub in cat.sub">
              {{sub.name}}
              <ul>
                  <li ng-repeat="item in sub.items">
                      {{item.name}}
                  </li>
              </ul>
          </div>
      </div>
    </div>
    
    <!-- Biryani -->
    <div class="row" ng-repeat="cat in mc.menu | filter: {cat: B}">
      <div class="col-xs-24 col-sm-12">
          {{cat.name}}
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6" ng-repeat="sub in cat.sub">
              {{sub.name}}
              <ul>
                  <li ng-repeat="item in sub.items">
                      {{item.name}}
                  </li>
              </ul>
          </div>
      </div>
    </div>
    
</div>
</body>
</html>
