
<div class="container"
     ng-app="Home"
     ng-controller="HomeCtrl">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <img src="/assets/img/Biryani.png">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div style="padding: 10px 10px 10px 10px">
                <label>Please provide 10 digit Telephone number.</label>
                <input type="tel" ng-model="mtn">
                <label>First Name: </label>
                <input type="text" ng-model="firstname">
                <label>Last Name: </label>
                <input type="text" ng-model="lastname">
                <div>
                    <a href="#/customer">Continue</a>
                </div>
            </div>
        </div>
    </div>
</div>