
<div class="container"
     ng-app="Home"
     >

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <img src="/assets/img/Biryani.png">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div style="padding: 10px 10px 10px 10px" ng-model="customer">
                <p>
                    <input type="tel" ng-model="customer.mtn" placeholder="Telephone number" required ng-minlength="10" ng-maxlength="10">
                </p>
                <div>
                    <a ui-sref="lookup" class="btn btn-primary">Look Up</a>
                </div>
                
                <p>
                    Or
                </p>
                
                <label>Please provide 10 digit Telephone number.</label>
                <p>
                    <input type="tel" ng-model="customer.mtn" placeholder="Telephone number" required ng-minlength="10" ng-maxlength="10">
                </p>
                <p>
                    <input type="text" ng-model="customer.firstname" placeholder="First Name" required>
                </p>
                <p>
                    <input type="text" ng-model="customer.lastname" placeholder="Last Name" required>
                </p>
                <div>
                    <a ui-sref="customer" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>