<div>
  <!-- Sub Category Header -->
  <ul class="sub-cat-name bg-info"><li>{{sub.name}}
      <span class="menu-icon glyphicon glyphicon-menu-up"></span></li></ul>
  <ul class="sub-cat-name-minified bg-info" style="display:none"><li>{{sub.name}}
      <span class="menu-icon glyphicon glyphicon-menu-down"></span></li></ul>
  <!-- Items section -->
  <ul class="items">
      <li class="row item" ng-repeat="item in sub.items">
          <span class="col-xs-8 col-sm-8 ng-md-4">{{item.name}}</span>
          <span class="col-xs-4 col-sm-4 ng-md-2">
              <span style="float: right">{{item.price}} <span ng-if="item.price < 10">&nbsp;</span>
              <input type="text" name="input" data-cat={{cat._id}} data-sub-cat={{sub.id}} data-item={{item.id}}
                     class="itemCount" required ng-trim="false" size="1" style="float: right" ng-model="item.count">
              </span>
          </span>
      </li>
  </ul>
</div>