<div class="container"
     ng-app="Menu"
     >


    <!-- Appetisers -->
    <div class="row category" ng-repeat="cat in menu | filter: {_id: 'A'}">
      <div class="col-xs-12 col-sm-12 col-md-12">
          <!-- Category Header -->
          <ul class="bg-primary category-name"><li>{{cat.name}}
              <span class="menu-icon glyphicon glyphicon-menu-up"></span></li></ul>
          <ul class="bg-primary category-name-minified" style="display:none"><li>{{cat.name}}
              <span class="menu-icon glyphicon glyphicon-menu-down"></span></li></ul>
          <!-- Sub Categories -->
          <div class="row sub-cat">
              <item-list sub="sub"  class="col-xs-12 col-sm-12 col-md-6" ng-repeat="sub in cat.sub"/>
          </div>
      </div>

    </div>
    <hr>
    <!-- Biryani -->
    <div class="row category" ng-repeat="cat in menu | filter: {_id: 'B'}">
      <div class="col-xs-12 col-sm-12 col-md-12">
          <!-- Category Header -->
          <ul class="bg-primary category-name"><li>{{cat.name}}
              <span class="menu-icon glyphicon glyphicon-menu-up"></span></li></ul>
          <ul class="bg-primary category-name-minified" style="display:none"><li>{{cat.name}}
              <span class="menu-icon glyphicon glyphicon-menu-down"></span></li></ul>
          <!-- Sub Categories -->
          <div class="row sub-cat">
              <div class="col-xs-12 col-sm-12 col-md-6">
                  <!-- Vegetarian and Non-Vegetarian Sub Category -->
                  <item-list sub="sub" ng-repeat="sub in cat.sub" ng-if="sub.id !== 'F'"/>
              </div>

              <!-- Family Pack Sub Category -->
              <item-list sub="sub" class="col-xs-12 col-sm-12 col-md-6" ng-repeat="sub in cat.sub | filter: {id: 'F'}"/>

          </div>
      </div>

    </div>

</div>

