
<div class="container"
     ng-app="simple-todos"
     ng-controller="TodosListCtrl">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <img src="/assets/img/Biryani.png">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div style="padding: 10px 10px 10px 10px">
                <label>Please provide 10 digit Telephone number.</label>
                <input type="tel" ng-model="tel">
                <div>
                    <a href="#/menu">Continue</a>
                </div>
            </div>
        </div>
    </div>
  <!--<ul>
    <li ng-repeat="task in tasks">{{task.text}}</li>
  </ul>-->
</div>